/* Resets & Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}

body {
  font-family: "iranyekan";
  color: var(--mainBlack);
  background-color: var(--bodyColor);
  position: relative;
  direction: rtl;
}

/* main styles */
.main-layout {
  display: flex;
}

.nav {
  height: 100vh;
  width: 250px;
  background-color: var(--mainWhite);
  padding: 1.5rem 0.75rem;
  position: sticky;
  top: 0;
  right: 0;
  border-radius: 70px 0 0 0;
  background: linear-gradient(180deg,#324467,#283142);
  display: flex;
  flex-direction: column;
}

.nav__items {
  flex-grow: 1;
  overflow-y: auto;
}

.nav__items::-webkit-scrollbar {
  display: none;
}

.nav__item {
  margin: 5px 0;
}

.nav__logo {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  font-weight: 800;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 0.8rem 0;
  text-align: center;
}

.nav li {
  margin: 5px 0;
}

.nav__link {
  text-decoration: none;
  color: var(--mainGrey);
  display: block;
  padding: 12px 8px;
  border-radius: 6px;
  transition: all 0.2s ease;
  color: #fff;
}

.nav__link:hover {
  background-color: #eef2f8;
  color: #2c4982;
}

.app-version {
  color: #efefef;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#app {
  height: 200vh;
  padding: 1rem;
}


